.addMargin{
    margin: 20px 0px;
}

h3{
    font-weight: 700 !important;
    margin-bottom: 0px !important;
}

.desc{
    color: gray;
    
}

.descClass{
    margin-top: 10px;
    margin-right: 0px;
}

.headingClass{
    color:white !important;
    font-size: 40px !important;
    font-weight: 800 !important;
    line-height: 58px !important;
}

.descClassName{
    color: white;
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    margin: 0px 0px 30px;
}