

.paragraph{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    word-spacing: 2px;
 }
 
 .paragraph span{
     color: red;
 }