*{
    font-family: "muli", sans-serif;
    overflow-x: hidden;
}

.head-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.sub-head-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(16, 25, 40);
    margin: 0px;
}

.section1{
    margin-bottom: 50px;
}

.section2, .section5, .section6, .section7, .section8, .section3, .section9, .section10{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 0 80px;
}

.section6{
    background-color: #F2F2F7;
    padding: 50px 100px;
}

.section7{
    background-color: #101928;
    padding: 50px 100px;
}

.section8{
    padding: 50px 100px;
}

.section4{
    background-color: #F2F2F7;
    padding: 50px 100px;
}

.section4 h1{
    margin-bottom: 30px;
}

.section9{
    background-color: #F2F2F7;
    padding: 50px 100px;
}

.section10{
    background-color: #E8E8EE;
    padding: 5px 100px;
}

.section4, .section3, .section5{
    padding: 50px 100px;
}

.col1Section4{
    margin-right: 50px;
}

@media screen and (max-width: 992px) {
    
    .section2, .section5, .section6, .section7, .section8, .section3, .section9, .section10{
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        padding: 0 10px;
    }

    .section4, .section3, .section5{
        padding: 50px 20px;
    }

    .section8{
        margin-bottom: 50px;
    }

    .sub-head-title{
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        color: rgb(16, 25, 40);
        margin: 0px;
    }
    .head-title{
        text-align: center;
    }

    .FooterSec10{
        text-align: center !important;
    }

    .section9, .section10{
        padding: 20px 15px;
    }
}